@using AlchemyAsp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<hr />

    <div class="row">
        <div class="panel panel-collapse" style="width: 400px; margin:0 auto">
            <div class="panel-body">
                <div class="panel-heading">
                    <center><h3>Log In</h3></center>
                    <hr />
                </div>
                <section id="loginForm" style="padding-left:8px">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10" style="padding-left:20px">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10" style="padding-left:20px">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox" style="padding-left:30px">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="padding-left:25px">
                                <input type="submit" value="Log in" class="btn btn-default" />
                                <div style="padding-top:8px;">
                                    @Html.ActionLink("Register as a new user", "Register")
                                </div>
                            </div>
                        </div>

                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    }
                </section>
            </div>
        </div>
    </div>
     

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}